In [1]:
from pyspark.sql import SparkSession

In [2]:
# Create a SparkSession
spark = SparkSession.builder.appName("Working with Different Types of Data").getOrCreate()

23/05/30 15:16:12 WARN Utils: Your hostname, FM-PC-LT-323 resolves to a loopback address: 127.0.1.1; using 192.168.18.19 instead (on interface wlp0s20f3)
23/05/30 15:16:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/30 15:16:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/30 15:16:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
from pyspark.sql.types import (
    StructType, 
    StructField, 
    StringType, 
    IntegerType, 
    DateType, 
    BooleanType, 
    DoubleType, 
    FloatType, 
    TimestampType
    )

In [4]:
# Define the schema
schema = StructType([
    StructField("name", StringType(), nullable=False),
    StructField("age", IntegerType(), nullable=False),
    StructField("date_of_birth", StringType(), nullable=False),
    StructField("address", StringType(), nullable=False),
    StructField("country", StringType(), nullable=False),
    StructField("region", StringType(), nullable=False),
    StructField("phone_number", StringType(), nullable=False),
    StructField("height", DoubleType(), nullable=False),
    StructField("gender", StringType(), nullable=False),
    StructField("marriage_state", BooleanType(), nullable=False),
    StructField("created_at", StringType(), nullable=False),
    StructField("updated_at", StringType(), nullable=False)
])

In [5]:
# Create sample data
data = [
    ("John Doe", 30, "1990-05-15", "12345", "USA", "West", "123-456-7890", 5.9, "M", True, "2023-05-01 10:00:00", "2023-05-01 10:00:00"),
    ("Jane Smith", 25, "1995-02-20", "54321", "Canada", "East", "987-654-3210", 5.5, "F", False, "2023-05-02 11:30:00", "2023-05-02 11:30:00"),
    ("Alice Johnson", 35, "1987-09-12", "56789", "USA", "South", "555-123-4567", 5.7, "F", True, "2023-05-03 09:15:00", "2023-05-03 09:15:00"),
    ("Robert Williams", 40, "1982-03-25", "98765", "USA", "West", "777-888-9999", 6.0, "M", True, "2023-05-04 14:20:00", "2023-05-04 14:20:00"),
    ("Emily Brown", 28, "1995-11-30", "45678", "USA", "East", "444-555-6666", 5.4, "F", False, "2023-05-05 16:45:00", "2023-05-05 16:45:00"),
    ("Michael Davis", 45, "1978-07-02", "23456", "USA", "North", "222-333-4444", 5.11, "M", True, "2023-05-06 12:10:00", "2023-05-06 12:10:00"),
    ("Sophia Wilson", 32, "1991-06-18", "87654", "Canada", "West", "999-888-7777", 5.8, "F", False, "2023-05-07 17:30:00", "2023-05-07 17:30:00"),
    ("William Johnson", 38, "1984-12-05", "54321", "USA", "East", "111-222-3333", 5.9, "M", True, "2023-05-08 10:45:00", "2023-05-08 10:45:00"),
    ("Olivia Anderson", 29, "1992-08-22", "12345", "Canada", "West", "888-777-6666", 5.6, "F", False, "2023-05-09 15:00:00", "2023-05-09 15:00:00"),
    ("James Brown", 42, "1979-04-10", "98765", "USA", "South", "222-333-4444", 6.2, "M", True, "2023-05-10 11:20:00", "2023-05-10 11:20:00"),
    ("Ava Taylor", 31, "1990-03-08", "56789", "USA", "West", "333-444-5555", 5.5, "F", False, "2023-05-11 09:40:00", "2023-05-11 09:40:00"),
    ("Ethan Martinez", 37, "1984-11-15", "23456", "Canada", "East", "777-888-9999", 5.10, "M", True, "2023-05-12 14:15:00", "2023-05-12 14:15:00"),
    ("Isabella Davis", 27, "1996-01-25", "87654", "USA", "North", "555-444-3333", 5.3, "F", False, "2023-05-13 16:30:00", "2023-05-13 16:30:00"),
    ("Liam Miller", 44, "1979-09-14", "45678", "USA", "West", "999-888-7777", 6.1, "M", True, "2023-05-14 12:50:00", "2023-05-14 12:50:00"),
    ("John Ddoe", 30, "1990-05-15", "12345", "USA", "West", "123-456-7890", 5.9, "M", True, "2023-05-01 10:00:00", "2023-05-01 10:00:00"),
    ("Jane Smsith", 25, "1995-02-20", "54321", "Canada", "East", "987-654-3210", 5.5, "F", False, "2023-05-02 11:30:00", "2023-05-02 11:30:00"),
]

In [6]:
# Create DataFrame
random_data_dataframe = spark.createDataFrame(data, schema)

In [7]:
random_data_dataframe.show()

+---------------+---+-------------+-------+-------+------+------------+------+------+--------------+-------------------+-------------------+
|           name|age|date_of_birth|address|country|region|phone_number|height|gender|marriage_state|         created_at|         updated_at|
+---------------+---+-------------+-------+-------+------+------------+------+------+--------------+-------------------+-------------------+
|       John Doe| 30|   1990-05-15|  12345|    USA|  West|123-456-7890|   5.9|     M|          true|2023-05-01 10:00:00|2023-05-01 10:00:00|
|     Jane Smith| 25|   1995-02-20|  54321| Canada|  East|987-654-3210|   5.5|     F|         false|2023-05-02 11:30:00|2023-05-02 11:30:00|
|  Alice Johnson| 35|   1987-09-12|  56789|    USA| South|555-123-4567|   5.7|     F|          true|2023-05-03 09:15:00|2023-05-03 09:15:00|
|Robert Williams| 40|   1982-03-25|  98765|    USA|  West|777-888-9999|   6.0|     M|          true|2023-05-04 14:20:00|2023-05-04 14:20:00|
|    Emily Brown| 28|   1995-11-30|  45678|    USA|  East|444-555-6666|   5.4|     F|         false|2023-05-05 16:45:00|2023-05-05 16:45:00|
|  Michael Davis| 45|   1978-07-02|  23456|    USA| North|222-333-4444|  5.11|     M|          true|2023-05-06 12:10:00|2023-05-06 12:10:00|
|  Sophia Wilson| 32|   1991-06-18|  87654| Canada|  West|999-888-7777|   5.8|     F|         false|2023-05-07 17:30:00|2023-05-07 17:30:00|
|William Johnson| 38|   1984-12-05|  54321|    USA|  East|111-222-3333|   5.9|     M|          true|2023-05-08 10:45:00|2023-05-08 10:45:00|
|Olivia Anderson| 29|   1992-08-22|  12345| Canada|  West|888-777-6666|   5.6|     F|         false|2023-05-09 15:00:00|2023-05-09 15:00:00|
|    James Brown| 42|   1979-04-10|  98765|    USA| South|222-333-4444|   6.2|     M|          true|2023-05-10 11:20:00|2023-05-10 11:20:00|
|     Ava Taylor| 31|   1990-03-08|  56789|    USA|  West|333-444-5555|   5.5|     F|         false|2023-05-11 09:40:00|2023-05-11 09:40:00|
| Ethan Martinez| 37|   1984-11-15|  23456| Canada|  East|777-888-9999|   5.1|     M|          true|2023-05-12 14:15:00|2023-05-12 14:15:00|
| Isabella Davis| 27|   1996-01-25|  87654|    USA| North|555-444-3333|   5.3|     F|         false|2023-05-13 16:30:00|2023-05-13 16:30:00|
|    Liam Miller| 44|   1979-09-14|  45678|    USA|  West|999-888-7777|   6.1|     M|          true|2023-05-14 12:50:00|2023-05-14 12:50:00|
|      John Ddoe| 30|   1990-05-15|  12345|    USA|  West|123-456-7890|   5.9|     M|          true|2023-05-01 10:00:00|2023-05-01 10:00:00|
|    Jane Smsith| 25|   1995-02-20|  54321| Canada|  East|987-654-3210|   5.5|     F|         false|2023-05-02 11:30:00|2023-05-02 11:30:00|
+---------------+---+-------------+-------+-------+------+------------+------+------+--------------+-------------------+-------------------+

In [8]:
random_data_dataframe.printSchema()

root
 |-- name: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- date_of_birth: string (nullable = false)
 |-- address: string (nullable = false)
 |-- country: string (nullable = false)
 |-- region: string (nullable = false)
 |-- phone_number: string (nullable = false)
 |-- height: double (nullable = false)
 |-- gender: string (nullable = false)
 |-- marriage_state: boolean (nullable = false)
 |-- created_at: string (nullable = false)
 |-- updated_at: string (nullable = false)

In [20]:
from pyspark.sql.functions import *
# random_data_dataframe.select(col("date_of_birth")).to_date(col("date_of_birth"),"yyyy-mm-dd")

random_data_dataframe = random_data_dataframe\
    .withColumn('date_of_birth',to_date('date_of_birth').cast('date'))\
    .withColumn('created_at',to_timestamp('created_at').cast('timestamp'))\
    .withColumn('updated_at',to_timestamp('updated_at').cast('timestamp'))

In [21]:
random_data_dataframe.show()

+---------------+---+-------------+-------+-------+------+------------+------+------+--------------+-------------------+-------------------+
|           name|age|date_of_birth|address|country|region|phone_number|height|gender|marriage_state|         created_at|         updated_at|
+---------------+---+-------------+-------+-------+------+------------+------+------+--------------+-------------------+-------------------+
|       John Doe| 30|   1990-05-15|   null|    USA|  West|123-456-7890|   5.9|     M|          true|2023-05-01 10:00:00|2023-05-01 10:00:00|
|     Jane Smith| 25|   1995-02-20|   null| Canada|  East|987-654-3210|   5.5|     F|         false|2023-05-02 11:30:00|2023-05-02 11:30:00|
|  Alice Johnson| 35|   1987-09-12|   null|    USA| South|555-123-4567|   5.7|     F|          true|2023-05-03 09:15:00|2023-05-03 09:15:00|
|Robert Williams| 40|   1982-03-25|   null|    USA|  West|777-888-9999|   6.0|     M|          true|2023-05-04 14:20:00|2023-05-04 14:20:00|
|    Emily Brown| 28|   1995-11-30|   null|    USA|  East|444-555-6666|   5.4|     F|         false|2023-05-05 16:45:00|2023-05-05 16:45:00|
|  Michael Davis| 45|   1978-07-02|   null|    USA| North|222-333-4444|  5.11|     M|          true|2023-05-06 12:10:00|2023-05-06 12:10:00|
|  Sophia Wilson| 32|   1991-06-18|   null| Canada|  West|999-888-7777|   5.8|     F|         false|2023-05-07 17:30:00|2023-05-07 17:30:00|
|William Johnson| 38|   1984-12-05|   null|    USA|  East|111-222-3333|   5.9|     M|          true|2023-05-08 10:45:00|2023-05-08 10:45:00|
|Olivia Anderson| 29|   1992-08-22|   null| Canada|  West|888-777-6666|   5.6|     F|         false|2023-05-09 15:00:00|2023-05-09 15:00:00|
|    James Brown| 42|   1979-04-10|   null|    USA| South|222-333-4444|   6.2|     M|          true|2023-05-10 11:20:00|2023-05-10 11:20:00|
|     Ava Taylor| 31|   1990-03-08|   null|    USA|  West|333-444-5555|   5.5|     F|         false|2023-05-11 09:40:00|2023-05-11 09:40:00|
| Ethan Martinez| 37|   1984-11-15|   null| Canada|  East|777-888-9999|   5.1|     M|          true|2023-05-12 14:15:00|2023-05-12 14:15:00|
| Isabella Davis| 27|   1996-01-25|   null|    USA| North|555-444-3333|   5.3|     F|         false|2023-05-13 16:30:00|2023-05-13 16:30:00|
|    Liam Miller| 44|   1979-09-14|   null|    USA|  West|999-888-7777|   6.1|     M|          true|2023-05-14 12:50:00|2023-05-14 12:50:00|
|      John Ddoe| 30|   1990-05-15|   null|    USA|  West|123-456-7890|   5.9|     M|          true|2023-05-01 10:00:00|2023-05-01 10:00:00|
|    Jane Smsith| 25|   1995-02-20|   null| Canada|  East|987-654-3210|   5.5|     F|         false|2023-05-02 11:30:00|2023-05-02 11:30:00|
+---------------+---+-------------+-------+-------+------+------------+------+------+--------------+-------------------+-------------------+

In [17]:
random_data_dataframe.printSchema()

root
 |-- name: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- date_of_birth: date (nullable = true)
 |-- address: integer (nullable = true)
 |-- country: string (nullable = false)
 |-- region: string (nullable = false)
 |-- phone_number: string (nullable = false)
 |-- height: double (nullable = false)
 |-- gender: string (nullable = false)
 |-- marriage_state: boolean (nullable = false)
 |-- created_at: timestamp (nullable = true)
 |-- updated_at: timestamp (nullable = true)

In [18]:
random_data_dataframe.createOrReplaceTempView("random_data_table")

In [23]:
query = """
    select 
        name,
        age,
        date_of_birth,
        gender,
        marriage_state,
        round(height,2) as height,
        country,
        created_at 
    from random_data_table
    """
spark.sql(query).show()

+---------------+---+-------------+------+--------------+------+-------+-------------------+
|           name|age|date_of_birth|gender|marriage_state|height|country|         created_at|
+---------------+---+-------------+------+--------------+------+-------+-------------------+
|       John Doe| 30|   1990-05-15|     M|          true|   5.9|    USA|2023-05-01 10:00:00|
|     Jane Smith| 25|   1995-02-20|     F|         false|   5.5| Canada|2023-05-02 11:30:00|
|  Alice Johnson| 35|   1987-09-12|     F|          true|   5.7|    USA|2023-05-03 09:15:00|
|Robert Williams| 40|   1982-03-25|     M|          true|   6.0|    USA|2023-05-04 14:20:00|
|    Emily Brown| 28|   1995-11-30|     F|         false|   5.4|    USA|2023-05-05 16:45:00|
|  Michael Davis| 45|   1978-07-02|     M|          true|  5.11|    USA|2023-05-06 12:10:00|
|  Sophia Wilson| 32|   1991-06-18|     F|         false|   5.8| Canada|2023-05-07 17:30:00|
|William Johnson| 38|   1984-12-05|     M|          true|   5.9|    USA|2023-05-08 10:45:00|
|Olivia Anderson| 29|   1992-08-22|     F|         false|   5.6| Canada|2023-05-09 15:00:00|
|    James Brown| 42|   1979-04-10|     M|          true|   6.2|    USA|2023-05-10 11:20:00|
|     Ava Taylor| 31|   1990-03-08|     F|         false|   5.5|    USA|2023-05-11 09:40:00|
| Ethan Martinez| 37|   1984-11-15|     M|          true|   5.1| Canada|2023-05-12 14:15:00|
| Isabella Davis| 27|   1996-01-25|     F|         false|   5.3|    USA|2023-05-13 16:30:00|
|    Liam Miller| 44|   1979-09-14|     M|          true|   6.1|    USA|2023-05-14 12:50:00|
|      John Ddoe| 30|   1990-05-15|     M|          true|   5.9|    USA|2023-05-01 10:00:00|
|    Jane Smsith| 25|   1995-02-20|     F|         false|   5.5| Canada|2023-05-02 11:30:00|
+---------------+---+-------------+------+--------------+------+-------+-------------------+

In [26]:
random_data_dataframe = spark.sql(query)
random_data_dataframe.show()

+---------------+---+-------------+------+--------------+------+-------+-------------------+
|           name|age|date_of_birth|gender|marriage_state|height|country|         created_at|
+---------------+---+-------------+------+--------------+------+-------+-------------------+
|       John Doe| 30|   1990-05-15|     M|          true|   5.9|    USA|2023-05-01 10:00:00|
|     Jane Smith| 25|   1995-02-20|     F|         false|   5.5| Canada|2023-05-02 11:30:00|
|  Alice Johnson| 35|   1987-09-12|     F|          true|   5.7|    USA|2023-05-03 09:15:00|
|Robert Williams| 40|   1982-03-25|     M|          true|   6.0|    USA|2023-05-04 14:20:00|
|    Emily Brown| 28|   1995-11-30|     F|         false|   5.4|    USA|2023-05-05 16:45:00|
|  Michael Davis| 45|   1978-07-02|     M|          true|  5.11|    USA|2023-05-06 12:10:00|
|  Sophia Wilson| 32|   1991-06-18|     F|         false|   5.8| Canada|2023-05-07 17:30:00|
|William Johnson| 38|   1984-12-05|     M|          true|   5.9|    USA|2023-05-08 10:45:00|
|Olivia Anderson| 29|   1992-08-22|     F|         false|   5.6| Canada|2023-05-09 15:00:00|
|    James Brown| 42|   1979-04-10|     M|          true|   6.2|    USA|2023-05-10 11:20:00|
|     Ava Taylor| 31|   1990-03-08|     F|         false|   5.5|    USA|2023-05-11 09:40:00|
| Ethan Martinez| 37|   1984-11-15|     M|          true|   5.1| Canada|2023-05-12 14:15:00|
| Isabella Davis| 27|   1996-01-25|     F|         false|   5.3|    USA|2023-05-13 16:30:00|
|    Liam Miller| 44|   1979-09-14|     M|          true|   6.1|    USA|2023-05-14 12:50:00|
|      John Ddoe| 30|   1990-05-15|     M|          true|   5.9|    USA|2023-05-01 10:00:00|
|    Jane Smsith| 25|   1995-02-20|     F|         false|   5.5| Canada|2023-05-02 11:30:00|
+---------------+---+-------------+------+--------------+------+-------+-------------------+

In [27]:
random_data_dataframe.printSchema()

root
 |-- name: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- date_of_birth: date (nullable = true)
 |-- gender: string (nullable = false)
 |-- marriage_state: boolean (nullable = false)
 |-- height: double (nullable = true)
 |-- country: string (nullable = false)
 |-- created_at: timestamp (nullable = true)

In [28]:
random_data_dataframe.createOrReplaceTempView("random_data_table")

In [29]:
random_data_dataframe.write.mode('overwrite').csv("data/random_data_csv.csv")
random_data_dataframe.write.mode('overwrite').json("data/random_data_json.json")
random_data_dataframe.write.mode('overwrite').parquet("data/random_data_parquet.parquet")

23/05/30 15:23:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/05/30 15:23:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/05/30 15:23:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/05/30 15:23:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/05/30 15:23:38 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/05/30 15:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/05/30 15:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/05/30 15:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/05/30 15:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [30]:
random_data_dataframe.write.mode('append').csv("data/random_data_csv.csv")
random_data_dataframe.write.mode('append').json("data/random_data_json.json")
random_data_dataframe.write.mode('append').parquet("data/random_data_parquet.parquet")